.spacestagram-view-wrapper {
    margin-bottom:24px;
    .spacestagram-header {
        height:80px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        gap:8px;
        position: sticky;
        top: 0;
        background-color: #FFF;
        border-bottom: 1px solid rgba(0,0,0,.125);
        width: 100vw;
    
        h1 {
            font-size: 37.5pt;
            margin:0;
        }
    }

    .spacestagram-cards-holder {
        padding-top: 24px;
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        gap: 24px; 
    }
}

.toast {
    background-color: none !important;
    border: none !important;

    .toast-header {
        color: #135d7c !important;
        background-color: #d2ebf5 !important;
        border-color: #bce1f1;
    }

    .btn-close {
        display:none;
    }
}



