.spacestagram-view-wrapper {
    margin:auto;
    .loader {
        animation: MoveUpDown 1s ease-in-out infinite ;
    }
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: rotate(45deg) translateY(0) translateX(100px);
    }
    50% {
        transform: rotate(45deg) translateY(-100px);
        
    }
  }