.spacestagram-card-wrapper {
    .card {
        max-width:600px;

        .interactions-row {
            display:flex;
        }

        .card-img-top {
            width:566px;

        }

        .caption {
            font-weight: 700;
        }

        .share-dropdown-content {
            img {
                margin-right:8px;
            }
        }
    }

    .dropdown-menu {
        padding: 8px !important
    }

    .dropdown-item {
        padding: 4px !important;
    }

    .dropdown-toggle.btn-primary {
        background-color: none !important;
    }

    .dropdown-toggle::after {
        display:none;
    }
}