.homepage-wrapper {
    text-align: center;
    .homepage-header {
        display:flex;
        justify-content: center;

        h1 {
            font-size: 37.5pt;
            margin:0;
        }
    }
}