@use "sass:math";
$normalWidth: 500px;
$mobileWidth: 350px;

.homepage-wrapper {
    width:$normalWidth;
    text-align: center;
    margin-top: 40vh;
    .homepage-header {
        display:flex;
        justify-content: center;

        h1 {
            font-size: 37.5pt;
            margin:0;
        }

        .animate-mode {
            animation: ZoomOutRocket 1.05s ease-in-out ;
        }
    }
    button {
        margin-top:32px;
    }

    .fadeout-animation {
        animation: FadeOut 1.05s ease-out;
    }
}

@keyframes ZoomOutRocket {
    0% {
      transform: translate(0);
    }
    95%, 100% {
        transform: translate(-(math.div($normalWidth, 2)) + 32px, 20px) scale(calc(100/60));
    }
  }

// Mobile homepage + animation
@media (max-width: 768px) {
    .homepage-wrapper { 
        width:$mobileWidth;
        .homepage-header {
    
            h1 {
                font-size: 24.5pt;
                line-height: 32px;
            }

            img {
                height: 32px;
                width: 32px;
            }
        }
    }

    @keyframes ZoomOutRocket {
        0% {
          transform: translate(0);
        }
        95%, 100% {
            transform: translate(-(math.div($mobileWidth, 2)) + 26px, 34px) scale(calc(100/32));
        }
      }
}
  

@keyframes FadeOut {
    0% {
        opacity:1;
    }
    50%, 100% {
        opacity:0;
    }
}